{# /restconf/data/Cisco-IOS-XE-native:native/interface/GigabitEthernet={id}/ipv6/Cisco-IOS-XE-ospfv3:ospf #}

{
    "Cisco-IOS-XE-ospfv3:ospf": {
        "process": {
            "id": {{ ospfv3.process_id }},
            "area": {{ ospfv3.process_area }}
        },
        "priority": {{ ospfv3.priority }}
    }
}